<!-- Button to clear selection -->
<button (click)="onShowData()">Show Data</button>
<!-- AG Grid Angular Component -->
<div class="ag-grid-table-box">
  <ag-grid-angular
    style="width: 702px"
    class="ag-theme-alpine"
    domLayout="autoHeight"
    [defaultColDef]="defaultColDef"
    [columnDefs]="options.columnDefs"
    [rowData]="options.rowData"
  ></ag-grid-angular>
  <p><br /></p>
  <!-- <ag-grid-angular
    style="width: 702px"
    class="ag-theme-alpine"
    domLayout="autoHeight"
    [defaultColDef]="defaultColDef"
    [columnDefs]="options2.columnDefs"
    [rowData]="options2.rowData"
  ></ag-grid-angular>
</div> -->
